.upper {
  text-transform: uppercase;
}

.App {
  text-align: left;
}

.App h1 {
  text-align: center;
}

.menu-item {
  padding: 0.3em 1.2em;
  background: #ddd;
  margin: 0.5em 0;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu-item.order {
  grid-template-columns: 1fr 1fr;
}

.menu-item.order.total {
  background: papayawhip;
}


.menu-item.most-ordered {
  font-weight: bold;
  text-transform: uppercase;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-self: center;
}

.menu-item .selector {
  justify-self: center;
}

.menu-item .selector input {
  width: 40px;
}

.customer-wrapper {
  padding: 1.2em;
  background: #bbb;
  margin: 0 10%;
  border-radius: 10px;
}

.customer-wrapper .order-sheet-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.customer-wrapper .order-sheet-header .state {
  justify-self: right;
  padding: 1em 1em;
  background: white;
  align-self: center;
  border-radius: 8px;
}

.customer-wrapper .order-sheet-header .info {
  align-self: center;
}

.customer-wrapper .most-ordered p {
  text-align: center;
}

.customer-wrapper .checkout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 1em;

  margin-top: 2em;
}

.customer-wrapper .payment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 1em;
  margin-top: 2em;
}

.customer-wrapper .payment .payment-value {
  justify-self: center;
}

.customer-wrapper .payment .payment-value input {
  height: 80%;
}

.customer-wrapper .checkout .btn {
  justify-self: left;
}

.customer-wrapper .checkout .customer label {
  font-weight: bold;
  margin-right: 0.5em;
}

.customer-wrapper .checkout .customer .customer-input {
  display: inline;
}

.customer-wrapper .checkout .customer input {
  border: none;
  height: 90%;
  border-radius: 8px;
}

.customer-wrapper .checkout .btn button {
  padding: 0.8em 1em;
  border: none;
  font-weight: bold;
  border-radius: 8px;
}

.kitchen-wrapper p.header {
  text-align: center;
  margin-bottom: 2em;
}

.kitchen-orders-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-row-gap: 2em;
}

.state-changer {
  padding-top: 1em;
  display: grid;
  justify-items: center;
}

.state-changer button {
  padding: 1em;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  color: #702200;
  background: #ff8670;
}
